<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Frontend</title>
    <link rel="stylesheet" href="~/lib/bootstrap-5.2.3-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Master BPKB</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                </ul>
                </div>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Frontend @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            //alert("jquery jalan");
            $.ajax({
                crossDomain: true,
                crossOrigin: true,
                cache: false,
                type: "GET",
                url: "http://localhost:9191/api",
                //url: "https://localhost:44333/api",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json",
                    "Access-Control-Allow-Origin": "*"
                },

                data: '',
                error: function (event, xhr) {
                    alert(xhr);
                },
                contentType: "application/json",
                success: function (data) {
                    var jsonData = JSON.parse(JSON.stringify(data));
                    if (jsonData.data != null) {
                        //alert (jsonData);
                        $('#lp').html("");
                        $('#lp').append('<option selected>Select Lokasi Penyimpanan</option>');
                        for (var i = 0; i < jsonData.data.length; i++) {
                            var result = jsonData.data[i];
                            $('#lp').append('<option  value=' + result.location_id + '>' + result.location_name +
                                '</option>');
                        }
                    }else{
                        alert(data.message);
                    }

                }
            });
        });

    </script>
    <script>
        $("#bsave").click(function () {
            //alert("butto berhasil di click");
            var data = {
                "agreement_number": $("#vagn").val(),
                "bpkb_no": $("#vnobpkb").val(),
                "branch_id": $("#vbi").val(),
                "bpkb_date": $("#vtglbpkb").val(),
                "faktur_no": $("#vnofaktur").val(),
                "faktur_date": $("#vtglfaktur").val(),
                "location_id": $("#lp option:selected").val(),
                "police_no": $("#vnopolis").val(),
                "bpkb_date_in": $("#vtglbpkbin").val()
            };
            //alert("jquery jalan");
            $.ajax({
                crossDomain: true,
                crossOrigin: true,
                cache: false,
                type: "POST",
                url: "http://localhost:9191/api/save",
                //url: "https://localhost:44333/api/save",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json",
                    "Access-Control-Allow-Origin": "*"
                },

                data: JSON.stringify(data),

                contentType: "application/json",
                success: function (data) {

                    alert(data.message + " di save ke database"+JSON.stringify(data.data));
                }
            });
        });

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
